{%  extends 'base.html.twig' %}

{% block body %}
    {% stylesheets '@AppBundle/Resources/css/login.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <div class="container" id="kontener">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-4">
                <div class="account-wall">
                    <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                         alt="">
                    {{ form_start(form, {'attr': {'class': 'form-signin', 'role': 'form'}}) }}
                        {{ form_label(form.login, '', {'label_attr': {'class': ''}}) }}
                        {{ form_widget(form.login, {'attr': {'class':'form-control' , 'placeholder' : 'Email'}}) }}
                        {{ form_errors(form.login) }}
                        {{ form_label(form.password, '', {'label_attr': {'class': ''}}) }}
                        {{ form_widget(form.password, {'attr': {'class':'form-control' , 'placeholder' : 'Hasło'}}) }}
                        {{ form_errors(form.login) }}
                        <button class="btn btn-lg btn-primary btn-block" type="submit">
                            Zaloguj się</button>
                        {{ form_label(form.zapamietajmnie, 'Zapamiętaj mnie', {'label_attr': {'class': ''}}) }}
                        {{ form_widget(form.zapamietajmnie) }}
                        {{ form_errors(form.zapamietajmnie) }}
                    {{ form_end(form) }}
                </div>
                <a href="{{ path('Register') }}" class="text-center new-account">Stwórz konto</a>
            </div>
        </div>
    </div>

{% endblock %}