{% extends 'base.html.twig' %}

{% block body %}
    {% stylesheets '@AppBundle/Resources/css/register.css*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}


    {% form_theme form 'bootstrap_3_layout.html.twig' %}


    <div class="container" id="kontener">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="page-header">
                    <h2>Rejestracja</h2>
                </div>
                {{ form_start(form, {'attr': {'class': 'form-horizontal', 'role': 'form', 'id':'defaultForm'}}) }}
                <div class="form-group">
                    {{ form_label(form.imie, 'Imię i nazwisko:', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-4">
                        {{ form_widget(form.imie, {'attr': {'class':'form-control', 'placeholder':'Imię' }}) }}
                        {{ form_errors(form.imie) }}
                    </div>
                    <div class="col-sm-4">
                        {{ form_label(form.nazwisko) }}
                        {{ form_widget(form.nazwisko, {'attr': {'class':'form-control', 'placeholder':'Nazwisko'}}) }}
                        {{ form_errors(form.nazwisko) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.nazwauzytkownika, 'Nazwa użytkownika:', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-5">
                        {{ form_widget(form.nazwauzytkownika, {'attr': {'class':'form-control'}}) }}
                        {{ form_errors(form.nazwauzytkownika) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.email, 'Adres Email:', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-5">
                        {{ form_widget(form.email, {'attr': {'class':'form-control' }}) }}
                        {{ form_errors(form.email) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.haslo, 'Hasło:', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-5">
                        {{ form_widget(form.haslo, {'attr': {'class':'form-control' }}) }}
                        {{ form_errors(form.haslo) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.telefon, 'Numer telefonu:', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    <div class="col-sm-5">
                        {{ form_widget(form.telefon, {'attr': {'class':'form-control' }}) }}
                        {{ form_errors(form.telefon) }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form_label(form.captcha) }}
                    <div class="col-sm-4 col-sm-offset-3">
                        {{ form_widget(form.captcha,  {'attr': {'class':'form-control' }}) }}
                        {{ form_errors(form.captcha) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="checkbox">
                            {{ form_label(form.akceptacja, 'Akceptuje regulamin serwisu', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_widget(form.akceptacja, {'attr': {'class':'' }}) }}
                            {{ form_errors(form.akceptacja) }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button type="submit" class="btn btn-primary btn-lg" name="signup" value="Sign up">Załóż konto</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}